@model Locadora_Veiculo_MVC5.Modelo

@{
    ViewBag.Title = "Incluir";
}

<h2>Incluir</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Modelo</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MarcaID, "MarcaID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MarcaID", String.Empty)
                @Html.ValidationMessageFor(model => model.MarcaID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomeModelo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeModelo)
                @Html.ValidationMessageFor(model => model.NomeModelo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Incluir" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volta para Lista", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
