@model Locadora_Veiculo_MVC5.Modelo

@{
    ViewBag.Title = "Excluir";
}

<h2>Delete</h2>

<h3>Você deseja Excluir este Modelo?</h3>
<div>
    <h4>Modelo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeModelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeModelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca.NomeMarca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca.NomeMarca)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volta para Lista", "Index")
        </div>
    }
</div>
